@import "./common";

.sidebar-this {
  display: none;
}
.content {
  padding: 0;
}
@media(min-width: 768px) {
  .sidebar-this {
    display: block;
  }
  .content {
    padding-left: $sidebarLeftWidth;
  }
}
.sidebar-this {
  position: fixed;
  top: 100px;
  margin-left: -$sidebarLeftWidth;
}
.css-name {
  padding: 0 20px
}
.css-list {
  list-style: square;
   color: $colorSuperGrey;
}
.dhms-css-box {
  margin-bottom: 40px;
  h4 {
    height: 30px;
    line-height: 30px;
  }
  .box-show {
    color: #fff;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
  }
  .content {
    padding-left: 22%;
    padding-right: 22%;
    .inner {
      padding:0 2%;
    }
  }
  .sidebar-left {
    padding:0 2%;
    width: 20%;
  }
  .sidebar-right {
    padding:0 2%;
    margin-left: -20%;
    width: 20%;
  }
  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f7f7f9;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .button-box {
    padding:5px 0;
  }
}









.list-two { width: 50%; padding: 0 10px; }
.list-three { width: 33.3333%; padding: 0 10px; }
.list-four { width: 25%; padding: 0 10px; }

$sidebarWidth: 240px;
.d-main {
  width: 100%;
}

.inner .header {
  padding: 0 0 0 15px;
  width: 100%;
  height: 55px;
  line-height: 55px;
  background-color: #eff3f3;
  .logo-blue {
    display: none;
  }
}
.header-user {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  .header-hide {
    display: none;
  }
  .header-show {
    padding: 0 20px;
    border-left: 1px solid $colorBorder;
    .icon-chevron-down {
      position: static;
      width: 10px;
      height: 10px;
      margin-left: 15px;
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-color: #999;
    }
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .icon-arrow {
    width: 12px;
    height: 12px;
    margin-left: 15px;
    border: {
      width: 2px;
      color: #999;
    }
  }
  &:hover {
    .header-show {
      background: #fff;
    }
    .header-hide {
      display: block;
    }
    .icon-arrow {
      border-color: #333;
    }
  }
}
.header-hide {
  background: #fff;
  line-height: 30px;
  border-left: 1px solid $colorBorder;
  border-bottom: 1px solid $colorBorder;
  a {
    color: #333;
  }
}
.list-btn {
  display: none;
  position: absolute;
  left: $sidebarWidth + 15px;
  top: 18px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  i{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #7a8897;
    &.two {
      top: 7px;
    }
    &.three {
      top: 14px;
    }
  }
  &:hover i {
    background: #333;
  }
}
.page-breadcrumb {
  padding: 0 15px;
  height: 50px;
  color: #666;
  line-height: 50px;
  a {
    color: #666;
    &:hover {
      color: $colorBlue;
    }
  }
}

.sidebar {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  background-color: #292d30;
  width: $sidebarWidth;
  height: 100%;
}
.sidebar .logo {
  padding: 20px 0;
  background: #23272b;

}

.user-info {
  padding: 30px 35px;
  img {
    margin-right: 20px;
    border-radius: 70px;
    width: 50px;
    height: 50px;
  }
  span {
    line-height: 25px;
  }
}
.menu {
  width: 100%;
  li {
    height: 50px; line-height: 50px;
    &.active,&:hover {
      border-right: 5px solid $colorBlue;
      color: #fff;
      background: $colorBlue;
      i {
        background: $colorBlue;
      }
    }
    a {
      display: block;
      position: relative;
      padding-left: 80px;
    }
  }
  span {
    display: block;
    position: absolute;
    top: 15px;
    left: 35px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #fff;
    background: #fff;
  }
  i {
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 15px;
    color: #fff;
    background: #23272b;
  }
}
.inner-main {
  margin: 0 10px;
}
.index-box .box {
  margin: 0 10px 10px 10px;
  height: 200px;
  line-height: 200px;
}

.button-box {
  padding: 0 20px;
}

.footer {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
  background: #b8b6b6;
}
  .inner .header {
    .logo-blue {
      display: block;
      width: 100%;
      img {
        width: 25%;
      }
    }
  }
  .list-btn {
    display: block;
    top: -36px;
    left: 15px;
  }
  .list-two,.list-three,.list-four {
    width: 100%;
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  .dhms-main > .inner {
    padding-left: 0;
  }
  .sidebar {
    display: block;
    position: absolute;
    top: 55px;
    width: 160px;
    height: auto;
    .menu {
      font-size: 14px;
      span {
        left: 20px;
      }
      li a {
        padding-left: 60px;
      }
    }
    .logo, .user-info {
      display: none;
    }
  }


@media (min-width: 768px){
  .sidebar {
    position: fixed;
    top: 0;
    width: $sidebarWidth;
    height: 100%;
  }
  .sidebar .logo,
  .sidebar .user-info {
    display: block;
  }
  .d-main .inner {
    padding-left: $sidebarWidth;
  }
  .inner .header {
    .logo-blue {
      display: none;
    }
  }

}
.form-example {
  width: 100%;
  padding: 10px;
  border: 1px solid $colorBorder;
}

