@font-face {
  font-family: 'dhmsicon';
  src:  url('fonts/dhmsicon.eot?6nqmir');
  src:  url('fonts/dhmsicon.eot?6nqmir#iefix') format('embedded-opentype'),
  url('fonts/dhmsicon.ttf?6nqmir') format('truetype'),
  url('fonts/dhmsicon.woff?6nqmir') format('woff'),
  url('fonts/dhmsicon.svg?6nqmir#dhmsicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="anticon-"], [class*=" anticon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dhmsicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon-change:before {
  content: "\e90a";
}
.anticon-cancel:before {
  content: "\e90b";
}
.anticon-history:before {
  content: "\e90c";
}
.anticon-modify:before {
  content: "\e90d";
}
.anticon-see:before {
  content: "\e90e";
}
.anticon-add:before {
  content: "\e900";
}
.anticon-all:before {
  content: "\e901";
}
.anticon-finished:before {
  content: "\e902";
}
.anticon-home-list:before {
  content: "\e903";
}
.anticon-home:before {
  content: "\e904";
}
.anticon-list-add:before {
  content: "\e905";
}
.anticon-list:before {
  content: "\e906";
}
.anticon-quit:before {
  content: "\e907";
}
.anticon-set:before {
  content: "\e908";
}
.anticon-untreated:before {
  content: "\e909";
}
