@font-face {
  font-family: 'service';
  src:  url('fonts/service.eot?ruj1cj');
  src:  url('fonts/service.eot?ruj1cj#iefix') format('embedded-opentype'),
    url('fonts/service.ttf?ruj1cj') format('truetype'),
    url('fonts/service.woff?ruj1cj') format('woff'),
    url('fonts/service.svg?ruj1cj#service') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="service-"], [class*=" service-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'service' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.service-add:before {
  content: "\e900";
}
.service-all:before {
  content: "\e901";
}
.service-finished:before {
  content: "\e902";
}
.service-home-list:before {
  content: "\e903";
}
.service-home:before {
  content: "\e904";
}
.service-list-add:before {
  content: "\e905";
}
.service-list:before {
  content: "\e906";
}
.service-quit:before {
  content: "\e907";
}
.service-set:before {
  content: "\e908";
}
.service-untreated:before {
  content: "\e909";
}
