@import "../../../static/css/common";
/* colorMain */
$colorMain: #FD8A03;
#root {
  width: 100%;
  min-height: 100%;
  background: #f3f3f3;
}
.service-sales {
  position: relative;
  width: 100%;
  height: 100%;
}

/* left */
$serviceLeftWidth: 240px;
.service-left {
  position: fixed;
  top: 0;
  left: 0;
  width: $serviceLeftWidth;
  height: 100%;
  background: #2B3A40;
}
.service-logo {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #1D2A2F;
}
.service-nar {
  width: 100%;
  padding: 20px 0;
  li {
    height: 45px;
    line-height: 45px;
    margin: 0 20px;
    a {
      color: #E9E9E9;
      text-decoration: none;
    }
    &:hover,&.active {
      border-left: 5px solid $colorMain;
      margin: 0;
      padding: 0 20px 0 15px;
      background: #222D32;
    }
  }
}

/* serviceMain */
.service-main {
  float: left;
  width: 100%;
  padding-left: $serviceLeftWidth;
}
.service-head {
  width: 100%;
  height: 75px;
  padding: 0 0 0 20px;
  background: #fff;
  .service-list {
    display: inline-block;
    width: 20px;
    height: 75px;
    line-height: 75px;
    font-size: 20px;
    color: #333;
    &:hover {
      color: $colorMain;
    }
  }
  .sign-out {
    height: 75px;
    line-height: 75px;
    display: inline-block;
    font-size: 14px;
    border-left: 1px solid #E9E9E9;
    .service-quit {
      font-size: 20px;
      margin-right: 5px;
      margin-top: 27px;
    }
    a {
      display: block;
      text-decoration: none;
      padding: 0 20px;
      &:hover {
        color: #fff;
        background: $colorMain;
      }
    }
  }
  .user-info {
    height: 75px;
    line-height: 55px;
    padding: 10px 20px;
    font-size: 16px;
    img {
      width: 55px;
      height: 55px;
      border-radius: 55px;
      margin-right: 10px;
    }
  }
}
.service-content {
  padding: 0 20px;
  .name {
    color: #4A4A4A;
    padding: 20px 0;
  }
}
.no-div-table {
  padding: 20px 0;
  .div-table-tr  {
    line-height: 45px;
    height: 45px;
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
    > div {
      vertical-align: top;
      padding: 0 0 0 15px;
      &:first-child {
        border: 0;
        padding: 0;
      }
    }
    input, textarea {
      font-size: 16px;
      min-height: 45px;
      line-height: 25px;
      padding: 10px;
    }
    select {
      font-size: 16px;
      height: 45px;
      line-height: 25px;
    }
    .button {
      width: 50%;
      height: 45px;
    }
  }
  .has-error-word {
    height: 45px;
    padding: 0 5px;
    line-height: 45px;
    font-size: 14px;
    &.right{
      width: 200px;
    }
  }
}

/* index */
.index-list {
  padding: 0 0 0 20px;
  &:first-child {
    padding: 0;
  }
  .list-info {
    padding: 20px;
    height: 120px;
    overflow: hidden;
    span.icon-box {
      text-align: center;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      padding: 22px;
      i {
        font-size: 36px;
      }
      &.all {
        background: #5A9EE3;
      }
      &.set {
        background: #FDD003;
      }
      &.untreated {
        background: #E35A5A;
      }
      &.finished {
        background: #94E35A;
      }
    }
    .list-word {
      padding: 0 0 0 5%;
      line-height: 36px;
    }
    .unmber {
      font-size: 46px;
    }
    a {
      text-decoration: none;
      &:hover {
        color: $colorMain;
      }
    }
    &:hover {
      padding: 19px;
      border: 1px solid $colorMain;
    }
  }
}
.add-new {
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 24px;
  padding: 20px;
  background: $colorMain;
  i {
    font-size: 55px;
  }
}

/* recentProcess */
.recent-process {
  width: 100%;
}
.process-list li {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
}

