@import "../../../static/css/common";
/* colorMain */
$colorMain: #FD8A03;
$colorMainHover: #e67304;
#root {
  width: 100%;
  min-height: 100%;
  background: #f3f3f3;
}
.service-sales {
  position: relative;
  width: 100%;
  height: 100%;
}

/* left */
$serviceLeftWidth: 240px;
.service-left {
  position: fixed;
  top: 0;
  left: 0;
  width: $serviceLeftWidth;
  height: 100%;
  background: #2B3A40;
}
.service-logo {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #1D2A2F;
}
.service-nar {
  width: 100%;
  padding: 20px 0;
  li {
    a {
      display: block;
      padding: 0 20px;
      color: #E9E9E9;
      height: 45px;
      line-height: 45px;
      text-decoration: none;
    }
    i{
      margin-right: 10px;
    }
    &:hover a,&.active a {
      border-left: 5px solid $colorMain;
      margin: 0;
      padding: 0 20px 0 15px;
      background: #222D32;
    }
  }
}

/* serviceMain */
.service-main {
  float: left;
  width: 100%;
  padding-left: $serviceLeftWidth;
}
.service-head {
  width: 100%;
  height: 75px;
  padding: 0 0 0 20px;
  background: #fff;
  .service-list {
    display: inline-block;
    width: 20px;
    height: 75px;
    line-height: 75px;
    font-size: 20px;
    color: #333;
    &:hover {
      color: $colorMain;
    }
  }
  .sign-out {
    height: 75px;
    line-height: 75px;
    display: inline-block;
    font-size: 14px;
    border-left: 1px solid #E9E9E9;
    .service-quit {
      font-size: 20px;
      margin-right: 5px;
      margin-top: 27px;
    }
    a {
      display: block;
      text-decoration: none;
      padding: 0 20px;
      &:hover {
        color: #fff;
        background: $colorMain;
      }
    }
  }
  .user-info {
    height: 75px;
    line-height: 55px;
    padding: 10px 20px;
    font-size: 16px;
    img {
      width: 55px;
      height: 55px;
      border-radius: 55px;
      margin-right: 10px;
    }
  }
}
.service-content {
  padding: 0 20px;
  .name {
    color: #4A4A4A;
    padding: 20px 0;
  }
}
.no-div-table {
  padding: 20px 0;
  .div-table-tr  {
    line-height: 45px;
    height: 45px;
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
    > div {
      vertical-align: top;
      padding: 0 0 0 15px;
      &:first-child {
        border: 0;
        padding: 0;
      }
    }
    input {
      font-size: 16px;
      min-height: 45px;
      line-height: 25px;
      padding: 10px;
    }
    select {
      font-size: 16px;
      height: 45px;
      line-height: 25px;
    }
    .button {
      width: 50%;
      height: 45px;
    }
  }
  .has-error-word {
    height: 45px;
    padding: 0 5px;
    line-height: 45px;
    font-size: 14px;
    &.right{
      width: 200px;
    }
  }
}

/* index */
.index-tag {
  margin-left: -20px;
}
.index-list {
  padding: 0 0 0 20px;
  .list-info {
    padding: 20px;
    height: 120px;
    overflow: hidden;
    span.icon-box {
      text-align: center;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      padding: 22px;
      i {
        font-size: 36px;
      }
      &.all {
        background: #5A9EE3;
      }
      &.set {
        background: #FDD003;
      }
      &.untreated {
        background: #E35A5A;
      }
      &.finished {
        background: #94E35A;
      }
    }
    .list-word {
      padding: 0 0 0 5%;
      line-height: 36px;
    }
    .unmber {
      font-size: 46px;
    }
    a {
      text-decoration: none;
      &:hover {
        color: $colorMain;
      }
    }
    &:hover {
      box-shadow: 5px 5px 10px #bdbdbd;
    }
  }
}
.add-new {
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 24px;
  padding: 20px;
  margin: 0 10px;
  background: $colorMain;
  cursor: pointer;
  i {
    font-size: 55px;
  }
  &:hover {
    background: #e67304;
  }
}

/* recentProcess */
.recent-process {
  width: 100%;
}
.process-list li {
  position: relative;
  width: 100%;
  padding: 0 20px 10px 20px;
  margin-bottom: 20px;
  .process-button {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -20px;
    width: 10%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    outline: none;
    padding: 0;
    color: #fff;
    background: $colorMain;
    &:hover {
      background: $colorMainHover;
    }
  }
  &:hover {
    box-shadow: 5px 5px 10px #bdbdbd;
  }
}
.job-number {
  width: 100%;
  line-height: 22px;
  padding: 11px 0;
  .button {
    height: 22px;
    line-height: 22px;
    padding: 0;
    color: #666 ;
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
    i{
      display: inline-block;
      vertical-align: middle;
      margin-top: 0;
      margin-right: 2px;
    }
    &:hover {
      color: #FD8A03;
    }
  }
  .modify {
    color: #fff !important;
    margin-left: 20px;
    display: inline-block;
    padding: 0 10px;
    height: 22px;
    line-height: 22px;
    background: $colorGreen;
    border-radius: 10px;
    text-decoration: none;
  }
}
.label-info {
  line-height: 22px;
}

/* recentProcess */
.tab-name {
  width: 100%;
  height: 40px;
  line-height: 38px;
  border-bottom: 2px solid #e9e9e9;
  li {
    float: left;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
    &:hover, &.active {
      height: 40px;
      line-height: 38px;
      border-bottom: 2px solid $colorMain;
      a{
        color: $colorMain;
      }
    }
    a {
      display: block;
      padding: 0 20px;
      text-decoration: none;
    }
  }
}

/*--pagination--*/
.pagination a {
  &:hover {
    background:#fff;
    text-decoration:none;
  }
  &.page-link {
    width: 40px;
  }
  &.previous_link, &.next-link {
    padding: 0 15px;
  }
  &.disabled {
    color: #ccc;
    cursor: not-allowed;
    &:hover {
      background:#f9f9f9;
    }
  }
  &.active {
    background: $colorMain  ;
    color: #fff;
    border: 1px solid #e9e9e9;
  }
}

@media(max-width: 768px) {
  .service-left {
    display: none;
  }
  .service-content {
    padding: 0 3%;
  }
  .service-main {
    padding: 0;
  }
  .index-list {
    padding: 0;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  .no-div-table {
    span {
      font-size: 14px;
    }
  }
  .tab-name li {
    width: 25%;
    text-align: center;
    font-size: 14px;
    margin-left: 0;
    a{
      padding: 0;
    }
  }
}
